
<div class="container">
<div class="grid">
	<div ng-repeat="pin in PinStorage.tempPins" class="grid-item">
		<img ng-src='{{pin.url}}' />
		<div class="optionPanel">
		<p>{{pin.caption}}</p>
		<a href="/" ng-click="getPublicPins(pin.owner)"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
		<a href="/" ng-href="{{pin.url}}"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></a>
		<a href="/" ng-click="deletePin(pin._id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
	</div>
	</div>
</div>
</div>
