
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script type="text/javascript" src="controllers/userController.client.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular-resource.min.js"></script>
<div ng-app="clementinePinApp" class="navbar navbar-default navbar-static-top" ng-controller="PinCtrl">
  <div class="container">
    <div class="navbar-header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Pintrest Clone</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <!-- <li ><a href="/">Item</a></li> -->
      </ul>
{{}}
      <ul class="nav navbar-nav navbar-right">
        <li ><p class="navbar-text"><a href="/profile">Profile</a></p></li>
        <li><a href="/logout" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
